
    <div id="paperAdd">
        <div class="content">
            <el-card class="cleft">
                <el-tree node-key="id" ref="tree" :data="outline" :props="defaultProps" default-expand-all @check-change="selectNode" show-checkbox>
                </el-tree>
            </el-card>
            <div class="cright">
                <el-card v-for="(item,index) in papers.content" :key="'papers_'+index" :header="item.text">
                    <el-radio-group>
                        <el-radio :label="i.id" v-for="(i,index) in papers.item" :key="'papers_'+index">{{i.text}}</el-radio>
                    </el-radio-group>
                </el-card>
            </div>
        </div>

        <div slot="footer">
            <el-button onclick="indexVm.loadPage('/menu/papers.html')">取 消</el-button>
            <el-button type="primary" @click="updateQues()">确 定</el-button>
        </div>
    </div>

<script>
    new Vue({
        el: '#paperAdd',
        data: function () {
            return {
                paperData: [],
                dgShow: false,
                outline: [],
                papers: {
                    title: '',
                    content: [],
                    item: [
                        { id: '1', text: '优', val: 5 },
                        { id: '2', text: '良', val: 4 },
                        { id: '3', text: '好', val: 3 },
                        { id: '4', text: '差', val: 2 },
                        { id: '5', text: '很差', val: 1 },
                    ]
                },
                defaultProps: {
                    children: 'children',
                    label: 'text'
                }
            }
        },
        created() {
            var _this = this
            // 显示大纲列表
            $.get('/getoutline', function (result) {
                if (result.error == 0) {
                    _this.outline = result.data
                }
            })

            // 查找当前单个需要编辑的问卷信息
            $.get('/papers/find', { id: Cookies.get('paper_id') }, function (result) {
                if (result.error != 0) { return }
                // 编辑中数据回填
                _this.$refs.tree.setCheckedNodes(JSON.parse(result.data.content));
                _this.papers.title=result.data.title
            })
        },
        methods: {
            updateQues() {
                var _this = this
                this.$prompt('请输入问卷标题', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^.+$/,
                    inputErrorMessage: '标题不能为空',
                    callback: function (action, obj) {
                        if (action == 'confirm') {
                            _this.papers.title = obj.inputValue
                            $.post('/papers/update', {
                                id:Cookies.get('paper_id'),
                                title: _this.papers.title,
                                content: JSON.stringify(_this.papers.content),
                                item: JSON.stringify(_this.papers.item)
                            }, function (result) {
                                console.log(result)
                            })
                        }
                    }
                })
            },
            selectNode(data, isSelect) {
                // 过滤掉父节点，只让叶子节点在右边显示
                if (data.children.length == 0) {
                    if (isSelect) {
                        // $.post('/evaluate/add',function(result){
                        //     if(result.error!=0){return}
                        //     this.papers.content.push(data)
                        // })
                        this.papers.content.push(data)
                    } else {
                        // 获取当前叶子节点的索引
                        var index = this.papers.content.indexOf(data)
                        this.papers.content.splice(index, 1)
                    }

                }

            }
        },

    })
</script>

<style>
    .content {
        overflow: hidden;
    }

    .content>div {
        float: left;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 5px;
    }
    
</style>